<div class="clients-container">
  <h1 class="clients-title">Clients</h1>
  
  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Employment Status</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of tableData">
          <td>{{ person.firstname }}</td>
          <td>{{ person.lastname }}</td>
          <td>{{ person.age }}</td>
          <td>
            <span class="status-badge" [ngClass]="person.employmentStatus?.toLowerCase()">
              {{ person.employmentStatus }}
            </span>
          </td>
          <td>{{ person.city }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
