<h1>PRODUCTS</h1>
<div class="card">
    <div class="card-head">
        Lorem ipsum - products 1
    </div>
    <div class="card-body">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iure dolor inventore aliquid illo tempora eligendi nobis dolorem facilis assumenda voluptas, numquam ex ut culpa dignissimos voluptatum ipsa delectus hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non culpa sequi delectus quas. Hic eveniet ullam sapiente est magni qui error ex sed aliquam quisquam, iure eius, dolorem velit minus!
    </div>
</div>
<div class="card">
    <div class="card-head">
        Lorem ipsum - products 2
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non culpa sequi delectus quas. Hic Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt minima nisi, voluptates, nihil quisquam numquam cupiditate optio aut aliquid similique expedita maiores eum quasi sequi, rem aperiam repellendus saepe reprehenderit?eveniet ullam sapiente est magni qui error ex sed aliquam quisquam, iure eius, dolorem velit minus!
    </div>
</div>