<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<div class="topnav"> 

  </div>
<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">Angular</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closesidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routelink]"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="card">
   <div class="card-head">
   
        <div class="card-body">
            <i class="fa fa-user-circle-o" aria-hidden="true">{{loggedUser?.email}} </i>
            <router-outlet></router-outlet>
        </div>
   </div>
</div>
<!-- <app-sidenav (onToggleSideNav)="handleSidenavToggle($event)"></app-sidenav> -->