

.topnav {
 
  text-align: center;
  color: #fff;
  height: fit-content;
  font-size: 2rem;
  overflow: hidden;
  background-color:  #236485;
 
}
.span{
  padding: 5px;
}

.sidenav{
    background: #236485;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
  
    
}

.logo-container{
   display: flex;
   align-items: center;
   padding: 0.938rem 0.938rem 0.938rem;
   width: 100%;
   text-align: center;


}
.logo{
    display: flex;
    background: #fff;
    width: 3rem;
    align-items: center;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding:  0.38rem 0.38rem 0.38rem;
    font-size: 24px ;
    font-weight: 900;
    cursor: pointer;
    border: none;
   }
   .logo-text{
    display: flex;
    margin-left: 2.5rem;
    font-size: 24px;
    color: #fff;
   }
   .btn-close{
    display: flex;
    margin-left: 3rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
   }
   .fa-times{
    color: #fff;
    font-size: 24px;
   }

   .sidenav-collapse{
    width: 16.5625rem;
    background:#236485 ;
   }
  
   .sidenav-nav-item{
    background-color: none;
    width: 100%;
    margin-bottom: 0.625rem;


   }
   .sidenav-nav-link{
    width: 100%;
    margin-left: 0.5rem;
    margin-bottom: 0.625rem;
    background-color: none;
    display: flex;
    align-items: center;
    height: 3rem;
    color: #fff;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: color .3s ease;
    
   }
   .sidenav-link-icon{
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.9rem;
    text-align: center;
   }
   .sidenav-link-text{
    margin-left: 1.5rem;
    

   }
   .sidenav-nav-link:hover{
     background-color: #fff;
     color: #000;
     width: 4rem;
     border-radius: 0.625rem;
   }
