<h1>STATISTICS</h1>
<div class="card">

<div class="card-head">
    Lorem ipsum - statistics
</div>
<div class="card-body">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iure dolor inventore aliquid illo tempora eligendi nobis dolorem facilis assumenda voluptas, numquam ex ut culpa dignissimos voluptatum ipsa delectus hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non culpa sequi delectus quas. Hic eveniet ullam sapiente est magni qui error ex sed aliquam quisquam, iure eius, dolorem velit minus!
</div></div>